@import "tailwindcss";

:root {
  --background: #FFFFFF ;
  --foreground: #fff;
}

body {
  min-height: 100dvh;
  background: var(--background);
  background-image: radial-gradient(#2b2e4f, #111126);
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
